.maingrande{
    background-image: url(../img/imagensquare.jpg_wh860.jpg);
    height: 800px;
    justify-content: center;
}
.mainpequeño{
    background-color: rgb(212, 64, 64);
    height: 100px;
    display:flex;
}
.mainderecho{
    background-color: rgb(212, 64, 64);
    height: 100px;
    display:flex;
}
header{
    background-color: rgb(243, 160, 160);
    width: 400px;
    align-content: center;
    
}
.secciones{
    background-color: rgb(154, 154, 231);
    width: 400px;
    display: flex;
}
.productos{
    background-color: rgb(51, 216, 202);
    width: 100px;
    height: 30px;
    margin: 40px;
    align-content: center;
}
.recursos{
    background-color: rgb(51, 176, 207);
    width: 100px;
    height: 30px;
    margin:40px;
    align-content: center;
}
.iniciarsesion{
    background-color: rgb(51, 176, 207);
    width: 100px;
    height: 30px;
    margin:40px;
    align-content: center;
}
.empezar{
    background-color: rgb(51, 176, 207);
    width: 100px;
    height: 30px;
    margin:40px;
    align-content: center;
}
.sitios_web{
    background-color: rgb(199, 116, 116);
    height: 20px;
    margin-top: 40px;
    margin-left:300px;
    width: 700px;
}
.lideres_en_diseño_web{
    background-color: rgb(199, 116, 116);
    height: 40px;
    margin-top: 30px;
    margin-left:300px;
    align-content: center;
    width: 700px;
}
.comenzar{
    background-color: rgb(199, 116, 116);
    height: 40px;
    margin-top: 60px;
    margin-left:300px;
    align-content: center;
    width: 700px;
}
.footermain1{
    background-color: rgb(199, 116, 116);
    height: 40px;
    margin-top: 80px;
    margin-left:300px;
    align-content: center;
    width: 700px;
    display: flex;
    justify-content: space-around;
}
p{
    margin-left: 300px;
}